/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* GENERAL STYLES */

* {
    box-sizing: border-box;
}

:root {
    --titleFont: "Permanent Marker", Georgia, 'Times New Roman', Times, serif;
    --subtitleFont: "Shadows Into Light Two", 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    --paragraphFont: "Caveat", Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #f0e6c8;
    margin: 0 7rem;
}

/* HEADER STYLES */

body header h1 {
    display: block;
    padding: 2rem 0 0;
    margin: 0;
    font-size: 5rem;
    text-align: center;
    font-family: var(--titleFont);
    color: black;
    line-height: 1.2;
}

body header h2 {
    display: block;
    padding: 0 0 2rem;
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--subtitleFont);
    color: black;
    text-transform: uppercase;
}

/* SECTION STYLES */

main section {
    margin-bottom: 1.5rem;
}

main section header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    line-height: 0.2rem;
    color: black;
    align-items: center;
}

main section header h3 {
    font-family: var(--titleFont);
    font-size: 1.8rem;
    text-transform: uppercase;
}

main section header a {
    text-decoration: none;
    color: inherit;
}

main section header a:hover {
    color: rgb(102, 102, 102);
}

main section figure {
    display: flex;
    margin: 0;
    align-items: center;
}

main section figcaption {
    padding: 0 1.5rem;
    font-family: var(--paragraphFont);
    font-weight: 1000;
    font-size: 1.7rem;
    text-align: justify;
}

main section figcaption p {
    margin: 0;
    padding-top: 1.5rem;
    display: inline;
    border-bottom: 2px dotted black;
}

main section figure img {
    margin-top: 1.5rem;
    object-fit: cover;
    width: 500px;
    height: 500px;
    border: 15px solid white;
    box-shadow: 0px 0px 8px 0px black;
}
