/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* GENERAL STYLES */

* {
    box-sizing: border-box;
}

:root {
    --titleFont: "Permanent Marker", Georgia, 'Times New Roman', Times, serif;
    --subtitleFont: "Shadows Into Light Two", 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    --paragraphFont: "Caveat", Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #f0e6c8;
    margin: 0 7rem;
}

/* HEADER STYLES */

body header h1 {
    display: block;
    padding: 2rem 0 0;
    margin: 0;
    font-size: 5rem;
    text-align: center;
    font-family: var(--titleFont);
    color: black;
    line-height: 1.2;
}

body header h2 {
    display: block;
    padding: 0 0 2rem;
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--subtitleFont);
    color: black;
    text-transform: uppercase;
}

}

